<app-navbar>

</app-navbar>


<!-- start -->

<section>

    <header style="
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ">
        <img src="../../../../assets/img/logo/mac.png" alt="Padhega India Logo">
        <h1> <a href="https://macstak.in" target="_blank" rel="noopener noreferrer">Verify You Certificate!!</a></h1>
    </header>
    <main>



        <label for="exampleFormControlInput1" class="form-label">Your Name !</label>
        <input [(ngModel)]="studentName" style="    max-width: 15rem;
        text-align: center;" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mr. Man">

        <Button (click)="generatePDF('test')" id="submitBtn">Get Certificate</Button>


    </main>

</section>




<!-- end -->
<app-footer>

</app-footer>