<div style="height: 80%;" class="container">
    <div style="height: inherit;" class="row">
        <div class="col-12">

            <div style="    flex-direction: column;
            align-items: center;
            height: 100%;    text-align: center;
            justify-content: center;" class="row">
                <h1 style="    color: #0a0907;
                text-shadow: 3px 3px 8px #2a17c5;
                font-weight: bold;"> Welcome To MacStak !!!</h1>

                <h2 style="     color: #009688;
                text-shadow: 3px 3px 8px #2196f3;
                font-weight: bold;">

                    The page you are looking not Found

                </h2>



            </div>

        </div>
    </div>
</div>