<ng-container *ngIf="isDesktopShow">
    <div style="padding-top: 4.5rem;">
        <header style="background:#2d2d7f" class="main-header fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg main-nav px-0  tw-justify-between">
                    <a class="navbar-brand" href="/mojo">
                        <img style="    max-width: 4rem;" src="../../../assets/img/logo/mac.png" alt="macstak.in">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                        aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar icon-bar-1"></span>
                        <span class="icon-bar icon-bar-2"></span>
                        <span class="icon-bar icon-bar-3"></span>
                    </button>
                    <div style="flex-grow:unset" class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav ml-auto text-uppercase f1">
                            <li>
                                <a routerLink="" [ngClass]="{'active':true}" class=" ">home</a>
                            </li>
                            <li>
                                <a routerLink="/asdfasf" class="">error page</a>
                            </li>
                            <li>
                                <a href="#service">services</a>
                            </li>
                            <li>
                                <a routerLink="/certificate">certificate</a>
                            </li>
                            <li>
                                <a routerLink="/founders">Team</a>
                            </li>
                            <li>
                                <a href="#testimony">testimonils</a>
                            </li>
                            <li>
                                <a href="#contact">contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- /.container -->
        </header>
    </div>
</ng-container>


<ng-container *ngIf="isMobileShow">

    <app-mobile-navbar>

    </app-mobile-navbar>
</ng-container>