<app-navbar>

</app-navbar>





<div style="background: black;">

    <div class="container">
        <div class="row">

            <!-- team section-->

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://pbs.twimg.com/profile_images/1433483701640306719/4WyvKTPX_400x400.jpg">
                    </div>
                    <h3 class="title">Williamson</h3>
                    <span class="post">Web Developer</span>

                    <!--social icon-->

                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook">
                                <fa-icon [icon]="faFacebook"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-twitter">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-google-plus">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-linkedin">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a></li>
                    </ul>

                </div>
            </div>

            <!--2nd member-->

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://pbs.twimg.com/profile_images/1433483701640306719/4WyvKTPX_400x400.jpg">
                    </div>
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>

                    <!--social Icon-->

                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook">
                                <fa-icon [icon]="faFacebook"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-twitter">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-google-plus">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-linkedin">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a></li>
                    </ul>

                </div>
            </div>

            <!--3rd member-->

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://pbs.twimg.com/profile_images/1433483701640306719/4WyvKTPX_400x400.jpg">
                    </div>
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>

                    <!--social icon-->
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook">
                                <fa-icon [icon]="faFacebook"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-twitter">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-google-plus">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-linkedin">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a></li>
                    </ul>

                </div>
            </div>

            <!--4th member-->

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://pbs.twimg.com/profile_images/1433483701640306719/4WyvKTPX_400x400.jpg">
                    </div>
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>

                    <!--social icon-->
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook">
                                <fa-icon [icon]="faFacebook"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-twitter">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-google-plus">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </a></li>
                        <li><a href="#" class="fa fa-linkedin">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a></li>
                    </ul>

                </div>
            </div>


        </div>
    </div>


</div>











<app-footer>

</app-footer>