<app-navbar>

</app-navbar>


<section>
    <div class="container">
        <div class="section-title">
            <h1>Our Coordinator Teacher</h1>
        </div>

        <div class="row">


            <div class="column col">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/userLogo.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Omkar Sir</h2>
                        <h3>CEO & Founder</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="#" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="#" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="#" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="#" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>


<section>
    <div class="container">
        <div class="section-title">
            <h1>Our Team Members</h1>
        </div>

        <div class="row">


            <div class="column col-md-4">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/ankit.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Ankit Yadav</h2>
                        <h3>CEO & Founder</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:yadavankit9028@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="https://twitter.com/AnkitYa40882767" target="blank" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/ankit-yadav-b8b0301b4/" target="blank" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/ankit-yadav-b8b0301b4/" target="blank" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/the._standalone_.guy/" target="blank" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="https://github.com/TheStandaloneAnkit" target="blank" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column col-md-4">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/manish.png" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Manish Sahu</h2>
                        <h3>Art Director</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="https://twitter.com/mr_man7352" target="blank" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/man7352" target="blank" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/mr-man7352/" target="blank" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/mr_man7352/" target="blank" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="https://github.com/mr-man7352" target="blank" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column col-md-4">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/abhishek.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Abhishek Kr. Yadav</h2>
                        <h3>Developer</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="https://twitter.com/mr_man7352" target="blank" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/man7352" target="blank" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/mr-man7352/" target="blank" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/mr_man7352/" target="blank" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="https://github.com/mr-man7352" target="blank" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">


            <div class="column col-md-4">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/surbhi.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Surbhi Charotia</h2>
                        <h3>CEO & Founder</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="https://twitter.com/mr_man7352" target="blank" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/man7352" target="blank" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/mr-man7352/" target="blank" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/mr_man7352/" target="blank" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="https://github.com/mr-man7352" target="blank" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column col-md-4">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/nayan.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Nayan Tripathi</h2>
                        <h3>Art Director</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="https://twitter.com/mr_man7352" target="blank" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/man7352" target="blank" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/mr-man7352/" target="blank" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/mr_man7352/" target="blank" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="https://github.com/mr-man7352" target="blank" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column col-md-4">
                <div class="team">
                    <div class="team-img">
                        <img src="../../../../assets/img/user/anika.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Ankia Kapoor</h2>
                        <h3>Developer</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                    </div>
                    <div class="team-social">
                        <a href="https://twitter.com/mr_man7352" target="blank" class="social-tw">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/man7352" target="blank" class="social-fb">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/mr-man7352/" target="blank" class="social-li">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                        <a href="https://www.instagram.com/mr_man7352/" target="blank" class="social-in">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="https://github.com/mr-man7352" target="blank" class="social-gt">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="column col-md-4 offset-8">
                    <div class="team">
                        <div class="team-img">
                            <img src="../../../../assets/img/user/userLogo.png" alt="Team Image">
                        </div>
                        <div class="team-content">
                            <h2>Steven</h2>
                            <h3>CEO & Founder</h3>
                            <p>Some text goes here that describes about team members</p>
                            <h4><a class="mailButton" href="mailto:manissh7352@gmail.com">Mail</a></h4>
                        </div>
                        <div class="team-social">
                            <a href="https://twitter.com/mr_man7352" target="blank" class="social-tw">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a>
                            <a href="https://www.facebook.com/man7352" target="blank" class="social-fb">
                                <fa-icon [icon]="faFacebook"></fa-icon>
                            </a>
                            <a href="https://www.linkedin.com/in/mr-man7352/" target="blank" class="social-li">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </a>
                            <a href="https://www.instagram.com/mr_man7352/" target="blank" class="social-in">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a>
                            <a href="https://github.com/mr-man7352" target="blank" class="social-gt">
                                <fa-icon [icon]="faGithub"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>







            </div>



        </div>

    </div>
</section>










<app-footer>

</app-footer>